.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bingo-field {
  width: 560px;
  height: 560px;
}

.bingo-box {
  margin: 0;
  text-align: center;
  font-size: 3.7em;
  display: inline-block;
  width: 110px;
  height: 110px;
  border: solid black 1px;
}

.activated {
  background-color: red;
}
